body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .bg-image {
    /* Full height */
    height: 50%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  /* Images used */
  .img1 { background-image: url("https://images.all-free-download.com/images/graphiclarge/beach_cloud_dawn_horizon_horizontal_landscape_ocean_601821.jpg"); }
  .img2 { background-image: url("https://images.all-free-download.com/images/graphiclarge/abstract_beach_cloud_dawn_evening_horizontal_599086.jpg"); }
  .img3 { background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQDUb-VnSih9YwLmclYy0zFuWLcB9x7GXk6lZ_xSpMmycFlDzAmnyUMpMqvkbHsxEiJfg8&usqp=CAU.jpg"); }
  .img4 { background-image: url("https://images.pling.com/img/00/00/54/70/32/1328073/cd99d22cf255c31baa3d9c7a44046788a467.jpg"); }
  .img5 { background-image: url("https://images.unsplash.com/photo-1676655086319-f33ad07dd802?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDJ8fHxlbnwwfHx8fHw%3D&w=1000&q=80"); }
  .img6 { background-image: url("https://wallpapercave.com/wp/wp4566582.jpg"); }
  
  /* Position text in the middle of the page/image */
  .bg-text {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    font-size: 70px;
    border: 10px solid #f1f1f1;
    position: fixed; /* Stay fixed */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 300px;
    padding: 20px;
    text-align: center;
  }